footer {
  background-color: #009581;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}